@{
    ViewData["Title"] = "UploadImages";
}

<img src="~/images/icons/upload.png" width="100" height="100" />
<hr />

<div class="jumbotron jumbotron-fluid">
    
    <div class="container">

        @if (ViewData["Error"] != null){
            <img src="~/images/icons/error.png" width="100" height="100" />
            <h5>@ViewData["Error"]</h5>
        }
    </div>

    <div class="container">

        @if (ViewData["Result"] != null) {
            <h5>@ViewData["Result"]</h5>
            <hr />
            @if (ViewBag.Files != null) {
                @foreach(string file in ViewBag.Files){
                    <li>@file</li>
                }
            }
        }
    </div>
</div>
