@model Snack

<div class="col-sm-4 col-md-4 col-lg-4">
    <img src="/images/snacks/@Model.Image" class="img-fluid">
    <h5>Preço: @Model.Price.ToString("c")</h5>
    <h4>@Model.Name</h4>
    <h7>@Model.Description</h7>
    <br />
</div>
