@model CartViewModel

@if (Model.Cart.CartItems.Count > 0) {
    <a asp-controller="Cart" asp-action="Index">
        <span><img src="~/images/icons/cart.png" /></span>
        @Model.Cart.CartItems.Count
    </a>
}
