<div class="container">
    <img src="~/images/icons/talktous-icon.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir a sua opinião!</h3>
        <p>Se tiver alguma crítica, dúvida ou sugestão, por favor fale conosco.</p>
        <p>
            <span><img src="~/images/icons/envelope-icon.png" /></span>
            <h5><email e-mail="hvctecsol@gmail.com" content="Enviar um e-mail"></email></h5>
            <br />
            <span><img src="~/images/icons/phone-app-icon.png" /></span>
            <h5>11 99919-6401</h5>
            <span><img src="~/images/icons/home-icon.png" /></span>
            <h5>Rua Bernardo Stefani, 455 - Sta. Therezinha - Bragança Paulista - SP</h5>
        </p>
    </div>
</div>
