@model IEnumerable<VendasLanches.Models.Snack>

@{ViewData["Title"] = "List";}

<div>
    <h2>Todos os lanches</h2>
    <br>
</div>

@foreach(Snack snack in Model) {
    <div>
        <h3>@snack.Name</h3>
        <img src="/images/snacks/@snack.Image">
        <h5>Preço: @snack.Price.ToString("c")</h5>
        <br>
    </div>
}
